jobs:
    test-job-no-input:
        request:
            method: GET
            url: http://queue-consumer-dummy-response:5678
            query_url_from: []
            json_body_from: []
            required: []
        log_suffix: test
        success:
            status_code: 200

    test-job-post-mixed-inputs:
        request:
            method: POST
            url: http://queue-consumer-dummy-response:5678
            query_url_from: ["query_url_key", "another_query_key"]
            json_body_from: ["json_1", "json_2", "json_3"]
            required: ["query_url_key", "json_1", "json_2"]
        log_suffix: test
        success:
            status_code: 200

    test-job-wrong-status-code:
        request:
            method: GET
            url: http://queue-consumer-dummy-response:5678
            query_url_from: []
            json_body_from: []
            required: []
        log_suffix: test
        success:
            # Dummy response will always return 200, so we set expected status code to 201 to trigger failure
            status_code: 201
